
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

body {
  font-family: sans-serif;
  color: #cacaca;
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;
  display: grid;
  grid-template-columns: 80px 400px auto 250px;
  grid-template-rows: 80px auto;
}

nav {
  background-color: #343a40;
  grid-row: 1/3;
}

menu {
  background-color: #7048e8;
  grid-column: 2/5;
  display: flex;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  margin: 24px 10px;
  text-align: center;
}

section{  
  color: black;
  background-color: rgb(228, 226, 226);
}

.email{
    width: 60%;
    padding: 20px 20px 20px 20px;
    background-color:  grey;
    
}
main{
  color: black;
}

aside{
  color: black;
  background-color: rgb(228, 226, 226);
}

button {
    background-color: #5F3DC4;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 24px 10px;
    text-align: center;
  }
  
.new-btn {
   margin-left: 40px;
}
.trash {
   background-color: #d6336c;
}
  
.left-section {
   background-color: #cacaca;
   color: black;
}